.head {
    position: absolute;
    top: 20px;
    font-family: Allura;
    font-size: 50px;
    text-align: center;
    color: #d3b973;
}
.form-control:focus {
    box-shadow: none;
    border-color: white;
}

.profile-button {
    background: white;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: white;
}

.profile-button:focus {
    background: white;
    box-shadow: none
}

.profile-button:active {
    background: white;
    box-shadow: none
}

.back:hover {
    color: white;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.main-container {
    height: 90%;
}