@font-face {
font-family: "Montserrat";
src: url("fonts/Montserrat-Light.ttf");
}

@font-face {
font-family: "Allura";
src: url("fonts/Allura-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: Montserrat;
  place-items: center;
  background: white;
}

.upper-bar {
  top: 0%;
  width: 100%;
  list-style-type: none;
  box-sizing: border-box;
  padding-inline-start: 50px;
  z-index: 1;
  background-color: white;
  padding: 0;
  letter-spacing: 1px;
  line-height: 1.5;
  display: inline-flex;
  font-family: Montserrat;
  position:fixed;
  background-color: white;
  height: 7%;
}

.logo {
  position: absolute;
  float: center;
  top: 0%;
  z-index: 2;
}

.navigation-left {
    position: fixed;
    left: 0%;
    width: 30%;
    display: inline-block;
}

.navigation-right{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 30%;
    display: inline;
}

.dropdown-button {
  float: center;
  background-color: white;
  color: #1A1B1F;
  font-family: Montserrat;
  padding: 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  height: 7%;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

.dropdown-content a {
  color: black;
  padding: 12px 12px;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-button {
  background-color: #f1f1f1;
}

.menu-buttons {
  float: right;
  height: 7%;
  background-color: white;
  color: #1A1B1F;
  font-family: Montserrat;
  font-size: 16px;
  padding: 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.menu-buttons:hover{
  background-color: #f1f1f1;
}

.main {
  position: absolute;
  top: 10%;
  bottom: 15%;
  height: 78%;
  width:100%;
  margin-top: 0%;
  margin-bottom: 0%;
  background-image: url("pics/backgroundgold.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 1500px;
}

.main-container {
    position: absolute;
    width: 80%;
    height: 70%;
    margin-top: 5%;
    left: 10%;
    right: 10%;
    background-color: rgba(255,255,255,0.7);
    font-family: Montserrat;
}



.head {
    position: absolute;
    width: 40%;
    top: 10%;
    left: 30%;
    text-align: center;
    font-family: Allura;
    color: #575353;
    font-size: 45px;
    z-index: 4;
}

.select {
    position: absolute;
    width: 40%;
    top: 30%;
    left: 30%;
    text-align: center;
    font-family: Allura;
    color: #575353;
    font-size: 30px;
}

.start {
  position: absolute;
  bottom: 0%;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  background-color: transparent;
  color: black;
  font-family: Montserrat;
  text-align: center;
  z-index: 3;
}

.start-icon {
  line-height: 50px;
  height: 60px;
  width: 250px;
  cursor: pointer;
  color: #1f1f1f;
  transition: all 0.3s;
  position: relative;
  z-index: 3;
}

.start-icon span {
  transition: all 0.3s;
}
.start-icon::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(211,185,115,0.5);
  border-bottom-color: rgba(211,185,115,0.5);
  transform: scale(0.1, 1);
}
.start-icon:hover span {
  letter-spacing: 2px;
  color: #D3B973;
}
.start-icon:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.start-icon::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(211,185,115,0.1);
}
.start-icon:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.wrapper {
  position: absolute;
  top: 5px;
  float: center;
  display: inline-flex;
  list-style: none;
  align: center;
  transform: translate(-50%, -50%);
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 12px;
  color: #828282;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 10px;
  text-align: center;
  background: #ffffff;
  color: #828282;
  padding: 10px 10px;
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 13px;
  width: 17px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .icon:hover,
.wrapper .icon:hover .tooltip,
.wrapper .icon:hover .tooltip::before {
  background: #f1f1f1;
  color: #828282;
}

.line {
  position: fixed;
  bottom: 10%;
  left: 10%;
  border: 0px;
  background: #828282;
  height: 1px;
  width: 80%;
}

.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 14px;
    color: #828282;
    font-family: Montserrat;
}

.design {
  position: fixed;
  bottom: 2%;
  left: 40%;
  float: center;
  width: 20%;
}

.head-register {
    position: absolute;
    width: 100%;
    top: 20px;
    font-family: Allura;
    font-size: 50px;
    text-align: center;
    color: #d3b973;
}

.registration {
     position: absolute;
     align-content: top;
     width: 30%;
     height: 95%;
     margin-top: 1%;
     left: 35%;
     right: 35%;
     background-color: rgba(255,255,255,0.8);
     border-radius: 15px;
}

.login-form {
    width: 80%;
    margin-top: 15%;
    margin-left: 10%;
}

.register-form {
   width: 80%;
   margin-top: 15%;
   margin-left: 10%;
}

.btn {
    font-family: Montserrat;
    display: inline-block;
    color: white;
    background-color: rgba(211,185,115,0.5);
    border-color: rgba(211,185,115,0.5);
}

.btn:hover{
  background-color: rgba(211,185,115,0.3);
  border-color: white;
}





